<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!--Hier befinden sich die Berechtigungen die unsere App benötigt-->

    <uses-permission android:name="android.permission.INTERNET" />

    <!--Hier befinden sich die allgemeinen Infos der App-->

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light"
        tools:targetApi="31">

        <!--Jede Activity hat jeweils einen Verweis in userem Manifest. Die .MainActivity hat dazu noch das Startseiten Attribut-->

        <!-- Main Datei trägt das Launcher Attribut und wird zu Beginn ausgeführt-->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>